<form
    [formGroup]="checkoutForm"
    (ngSubmit)="checkout()"
    method="POST"
    class="col-span-12 lg:col-span-6"
>
    <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Contact info
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                    Deze informatie hebben we nodig om te weten wie je bent.
                </p>
            </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
            <div class="shadow sm:rounded-md sm:overflow-hidden">
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <app-input-group
                        formControlName="email"
                        label="Email"
                        inputType="email"
                        autocomplete="email"
                        name="email"
                        placeholder="b.smit@example.com"
                        [required]="true"
                        [errors]="checkoutForm.get('email')!.errors"
                    ></app-input-group>

                    <app-input-group
                        formControlName="name"
                        label="Volledige naam"
                        inputType="text"
                        autocomplete="name"
                        name="name"
                        placeholder="Bert Smit"
                        [required]="true"
                        [errors]="checkoutForm.get('email')!.errors"
                    ></app-input-group>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">
                        Adres info
                    </h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Deze informatie hebben we nodig om te weten waar je
                        bestelling naartoe moet.
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div class="grid grid-cols-6 gap-6">
                            <app-input-group
                                class="col-span-6"
                                formControlName="street"
                                label="Straat"
                                inputType="text"
                                autocomplete="shipping street-address"
                                name="street"
                                placeholder="Schipholweg"
                                [required]="true"
                                [errors]="checkoutForm.get('street')!.errors"
                            ></app-input-group>

                            <app-input-group
                                class="col-span-6 sm:col-span-3"
                                formControlName="postalCode"
                                label="Postcode"
                                inputType="text"
                                autocomplete="shipping postal-code"
                                name="street"
                                placeholder="2333 CK"
                                [required]="true"
                                [errors]="
                                    checkoutForm.get('postalCode')!.errors
                                "
                            ></app-input-group>

                            <app-input-group
                                class="col-span-6 sm:col-span-3"
                                formControlName="city"
                                label="Plaats"
                                inputType="text"
                                autocomplete="shipping address-level2"
                                name="city"
                                placeholder="Leiden"
                                [required]="true"
                                [errors]="checkoutForm.get('city')!.errors"
                            ></app-input-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">
                        Betaal info
                    </h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Hoe wil je betalen?
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="shadow bg-white sm:rounded-md">
                    <div class="px-4 py-5 space-y-6 sm:p-6">
                        <app-dropdown
                            formControlName="paymentMethod"
                            label="Betaalmethode"
                            name="paymentMethod"
                            placeholder="Selecteer betaalmethode"
                            [required]="true"
                            [errors]="checkoutForm.get('paymentMethod')!.errors"
                            [options]="paymentMethods"
                        ></app-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="col-span-12 lg:col-span-6 lg:pl-6">
    <h2 class="text-lg font-medium text-gray-900 leading-6">Jouw bestelling</h2>
    <div
        *ngFor="let item of cartProducts"
        class="bg-white shadow sm:rounded-md mt-5 px-4 py-0 sm:px-6"
    >
        <app-cart-overlay-item
            [product]="item.product"
            [quantity]="item.quantity"
            [removable]="false"
            [showSum]="true"
        ></app-cart-overlay-item>
    </div>

    <div
        class="bg-white shadow sm:rounded-md mt-5 px-4 py-5 sm:p-6 flex justify-between"
    >
        <div>
            <h3 class="text-lg font-medium leading-6 text-gray-700">
                Totale prijs
            </h3>

            <p class="text-xl text-purple-500 font-medium mt-2">
                {{ total / 100 | currency }}
            </p>

            <p class="text-xs text-gray-500 font-light max-w-16 pr-8 mt-4">
                Dit bedrag is inclusief de 42% toeslag die rechtstreeks in de
                portemonnee van de maker van deze applicatie gaat.
            </p>
        </div>
        <div class="self-end">
            <app-button
                size="lg"
                [disabled]="checkoutForm.invalid"
                type="submit"
                (click)="checkout()"
                >Afrekenen
            </app-button>
        </div>
    </div>

    <p class="mt-6 font-medium text-sm text-gray-600 hover:text-purple-500">
        <a routerLink="/">
            <span aria-hidden="true">&larr;</span>
            Terug naar de winkel
        </a>
    </p>
</div>
