<p>Op deze pagina kan je producten beheren.</p>

<nav class="flex gap-x-4 my-4">
    <button
        class="py-2 px-4 text-white bg-purple-500 rounded shadow-sm active:bg-purple-700"
        routerLink="create"
        routerLinkActive="active"
    >
        Voeg product toe
    </button>
</nav>

<p>
    Hier een lijst met alle producten. Klik op een product om deze te bewerken.
</p>

<div
    class="grid grid-cols-1 gap-x-6 gap-y-10 mt-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:gap-x-8"
>
    <div *ngFor="let product of products" class="relative group">
        <div
            class="overflow-hidden w-full bg-gray-200 rounded-md lg:h-80 group-hover:opacity-75 min-h-80 aspect-w-1 aspect-h-1 lg:aspect-none"
        >
            <img
                src="/api/images/{{ product.imageId }}"
                alt="Foto van {{ product.name }}"
                class="object-cover object-center w-full h-full lg:w-full lg:h-full"
            />
        </div>
        <div class="flex justify-between mt-4">
            <div>
                <h3 class="text-sm text-gray-700">
                    <a routerLink="/admin/products/{{ product.id }}/edit">
                        <span
                            aria-hidden="true"
                            class="absolute inset-0"
                        ></span>
                        {{ product.name }}
                    </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500 line-clamp-2">
                    {{ product.description }}
                </p>
            </div>
            <p class="text-sm font-medium text-gray-900">
                {{ product.price / 100 | currency }}
            </p>
        </div>
    </div>
</div>
