<p>Op deze pagina kan je producten beheren.</p>

<nav class="my-4 flex gap-x-4">
    <button
        class="rounded bg-purple-500 py-2 px-4 text-white shadow-sm active:bg-purple-700"
        routerLink="create"
        routerLinkActive="active"
    >
        Voeg product toe
    </button>
</nav>

<p>
    Hier een lijst met alle producten. Klik op een product om deze te bewerken.
</p>

<div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:gap-x-8"
>
    <div *ngFor="let product of products" class="group relative">
        <div
            class="min-h-80 aspect-w-1 aspect-h-1 lg:aspect-none w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80"
        >
            <img
                src="/api/images/{{ product.imageId }}"
                alt="Foto van {{ product.name }}"
                class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
        </div>
        <div class="mt-4 flex justify-between">
            <div>
                <h3 class="text-sm text-gray-700">
                    <a routerLink="/admin/products/{{ product.id }}/edit">
                        <span
                            aria-hidden="true"
                            class="absolute inset-0"
                        ></span>
                        {{ product.name }}
                    </a>
                </h3>
                <p class="line-clamp-2 mt-1 text-sm text-gray-500">
                    {{ product.description }}
                </p>
            </div>
            <p class="text-sm font-medium text-gray-900">
                {{ product.price / 100 | currency }}
            </p>
        </div>
    </div>
</div>
