<li class="grid grid-cols-[auto,1fr,1fr] grid-rows-[auto,1fr,auto] gap-x-8 items-start">
  <div class="col-span-1 row-span-3">
    <img src="/api/images/{{ product.imageId }}" alt="{{ product.name }}" class="max-h-40 object-cover rounded">
  </div>
  <h3 class="col-span-1 row-span-1 text-lg">{{product.name }}</h3>
  <span class="col-span-1 row-span-1 text-right">{{ itemTotal | currency }}</span>
  <p class="col-span-2 row-span-1 text-gray-500 justify-self-start">{{ product.description }}</p>
  <div class="col-span-2 flex justify-end items-end gap-x-4">
    <a class="px-2 py-px rounded font-medium text-purple-500 hover:underline" routerLink="/products/{{ product.id }}">Bekijk product</a>
    <button class="px-2 py-px rounded font-medium text-purple-500 hover:underline" (click)="addToCart.emit()">Bestel nog eens</button>
  </div>
</li>
