<li
    class="grid sm:grid-cols-[200px,auto,auto] grid-cols-[auto,1fr] grid-rows-[auto,1fr,auto] gap-x-8 gap-y-2 sm:gap-y-0 items-start"
>
    <div class="hidden col-span-1 row-span-3 sm:block">
        <img
            src="/api/images/{{ product.imageId }}"
            alt="{{ product.name }}"
            class="object-cover m-auto max-h-40 rounded"
        />
    </div>
    <h3 class="col-span-1 row-span-1 text-lg font-medium">
        {{ product.name }}
    </h3>
    <span class="col-span-1 row-span-1 text-right">{{
        itemTotal | currency
    }}</span>
    <div class="col-span-2 row-span-1 justify-self-start">
        <span class="text-sm font-medium text-gray-700"
            >Aantal: {{ quantity }}</span
        >
        <p class="text-gray-500">{{ product.description }}</p>
    </div>
    <div class="flex col-span-2 gap-x-4 justify-start">
        <a
            class="py-px font-medium text-purple-500 rounded hover:underline"
            routerLink="/products/{{ product.id }}"
            >Bekijk product</a
        >
        <button
            class="py-px font-medium text-purple-500 rounded hover:underline"
            (click)="addToCart.emit()"
        >
            Bestel nog eens
        </button>
    </div>
</li>
