<header class="bg-purple-500 text-white shadow z-50">
  <div class="container mx-auto flex gap-4 p-4 lg:px-8">
    <h1 class="font-bold text-xl">IPRWC - het admin deel</h1>
    <nav class="flex flex-1 justify-between">
      <ul class="flex w-full gap-x-4 items-center">
        <li>
          <a
            class="nav-link"
            routerLink="/admin"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
          >
            Home
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="products" routerLinkActive="active">
            Producten
          </a>
        </li>
        <li>
          <a class="nav-link" routerLink="customers" routerLinkActive="active">
            Klanten
          </a>
        </li>
        <li class="flex-1"></li>
        <li>
          <a class="nav-link cursor-pointer" href="#" (click)="signOut()"
            >Uitloggen</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="container mx-auto p-4 lg:p-8 h-auto z-10">
  <router-outlet></router-outlet>
</main>
