<div class="w-screen min-h-screen">
  <header class="flex gap-4 p-4 lg:px-8 bg-purple-500 text-white shadow z-50">
    <h1 class="font-bold text-xl">IPRWC - het admin deel</h1>
    <nav>
      <ul class="flex-1 flex justify-between gap-2">
        <li>
          <a
            class="nav-link"
            routerLink="/admin"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="products" routerLinkActive="active"
            >Producten</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="customers" routerLinkActive="active"
            >Klanten</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main class="w-full h-auto z-10 p-4 lg:p-8">
    <router-outlet></router-outlet>
  </main>
</div>
