<div
    [ngClass]="open ? 'pointer-events-auto' : 'pointer-events-none'"
    class="overflow-hidden fixed inset-0 z-10"
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true"
>
    <div class="overflow-hidden absolute inset-0">
        <div
            [@overlay]="open ? 'open' : 'closed'"
            class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
            aria-hidden="true"
            (click)="close()"
        ></div>

        <div class="flex fixed inset-y-0 right-0 pl-10 max-w-full">
            <div
                [@slideOver]="open ? 'open' : 'closed'"
                class="w-screen max-w-md"
            >
                <div
                    class="flex overflow-y-scroll flex-col h-full bg-white shadow-xl"
                >
                    <div class="overflow-y-auto flex-1 py-6 px-4 sm:px-6">
                        <div class="flex justify-between items-start">
                            <h2
                                class="text-lg font-medium text-gray-900"
                                id="slide-over-title"
                            >
                                Winkelwagen
                            </h2>
                            <div class="flex items-center ml-3 h-7">
                                <button
                                    (click)="close()"
                                    type="button"
                                    class="p-2 -m-2 text-gray-400 hover:text-gray-500"
                                >
                                    <span class="sr-only">Sluit</span>
                                    <svg
                                        class="w-6 h-6"
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke="currentColor"
                                        aria-hidden="true"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M6 18L18 6M6 6l12 12"
                                        />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div class="mt-8">
                            <div class="flow-root">
                                <ul
                                    role="list"
                                    class="-my-6 divide-y divide-gray-200"
                                >
                                    <app-cart-overlay-item
                                        *ngFor="let cartItem of cartProducts"
                                        [product]="cartItem.product"
                                        [quantity]="cartItem.quantity"
                                        (removeProduct)="removeFromCart($event)"
                                    ></app-cart-overlay-item>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <app-cart-overlay-total
                        [total]="total"
                        (closeEvent)="close()"
                    ></app-cart-overlay-total>
                </div>
            </div>
        </div>
    </div>
</div>
