<form
    [formGroup]="loginForm"
    class="bg-white rounded p-8 pt-4 shadow-xl gap-y-2 flex flex-col sm:w-[350px] max-w-screen"
    (ngSubmit)="submitLogin()"
>
    <h1 class="font-bold text-2xl pb-2">Login</h1>
    <app-input-group
        formControlName="email"
        label="Email"
        inputType="email"
        autocomplete="email"
        name="email"
        placeholder="b.mars@snickers.com"
        [required]="true"
        [errors]="loginForm.get('email')!.errors"
    ></app-input-group>
    <app-input-group
        formControlName="password"
        autocomplete="current-password"
        label="Wachtwoord"
        inputType="password"
        name="password"
        placeholder="hunter2"
        [required]="true"
        [errors]="loginForm.get('password')!.errors"
    ></app-input-group>
    <app-button type="submit">Login</app-button>
    <div *ngIf='loginForm.errors?.["invalidCredentials"]'>
        <p>
            Je hebt een verkeerde email of wachtwoord opgegeven. Probeer het
            opnieuw.
        </p>
    </div>
</form>
