<app-navbar title="de winkel">
    <ng-template appNavbar>
        <app-navbar-item to="/" [exact]="true">Home</app-navbar-item>
        <app-navbar-item to="orders" *ngIf="isAuthenticated">
            Mijn bestellingen
        </app-navbar-item>
        <div class="hidden flex-1 sm:block"><!-- spacer --></div>
        <app-navbar-item (click)="showCart = true" *ngIf="shouldShowCartButton">
            Winkelwagen
        </app-navbar-item>
        <app-navbar-item
            *ngIf="isAuthenticated"
            class="cursor-pointer nav-link"
            (click)="signOut()"
        >
            Uitloggen
        </app-navbar-item>
    </ng-template>
</app-navbar>
<main class="container z-10 flex-1 p-4 mx-auto h-auto lg:p-8">
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<app-cart-overlay [(open)]="showCart"></app-cart-overlay>
