<li class="flex py-6">
    <div
        class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
    >
        <img
            src="/api/images/{{ product.imageId }}"
            alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
            class="h-full w-full object-cover object-center"
        />
    </div>

    <div class="ml-4 flex flex-1 flex-col">
        <div>
            <div
                class="flex justify-between text-base font-medium text-gray-900"
            >
                <h3>
                    <a routerLink="/products/{{ product.id }}">{{
                        product.name
                    }}</a>
                </h3>
                <p class="ml-4" *ngIf="!showSum">
                    {{ product.price / 100 | currency }}
                </p>
            </div>
        </div>
        <div class="flex flex-1 items-end justify-between text-sm">
            <p class="text-gray-500">{{ quantity }} maal</p>

            <p *ngIf="showSum" class="text-xs text-gray-800">
                Totaal
                <span class="text-lg text-black">{{
                    (product.price * quantity) / 100 | currency
                }}</span>
            </p>

            <div class="flex" *ngIf="removable">
                <button
                    type="button"
                    (click)="removeFromCart()"
                    class="font-medium text-purple-600 hover:text-purple-500"
                >
                    Verwijder
                </button>
            </div>
        </div>
    </div>
</li>
