<label
    *ngIf="label"
    [for]="name"
    class="block text-sm font-medium text-gray-700"
    >{{ label }}</label
>
<div class="mt-1 relative rounded-md shadow-sm">
    <textarea
        *ngIf="inputType === 'textarea'"
        [value]="value"
        (input)="handleChange($event)"
        [name]="name"
        [id]="name"
        class="input"
        [placeholder]="placeholder"
        [required]="required"
        [disabled]="disabled"
    ></textarea>
    <input
        *ngIf="inputType !== 'textarea'"
        [value]="value"
        (input)="handleChange($event)"
        [type]="inputType"
        [name]="name"
        [id]="name"
        class="input"
        [placeholder]="placeholder"
        [required]="required"
        [autocomplete]="autocomplete"
        [disabled]="disabled"
    />
</div>
<div *ngIf="touched && nextValidationError" class="mt-0.5 text-red-500 text-xm">
    <p>{{ nextValidationError }}</p>
</div>
